/*Styles go here*/

body {
	font-family: Times, Helvetica, Arial, serif;
	background-color: #CCCCFF
}

.logo {
	width:100px;
  height:95px;
	border-style: none;
	float: left;
	margin-right: 5px;
}

h1 {
	font-family: Times, Helvetica, Arial, serif;
	font-size: 25px;
	padding-top: 25px;
}

#main {
	width: 500px;
	float: left;
}

.photo
	{
		border:0;
	}


#sidebar {
	width: 200px;
  float: right;
	border-left: 2px solid #000000;
	padding-left: 15px;
}

#footer {
	clear: both;
	background-color: #9999ff;
}

#footer p {
	padding: 10px;
	color: #000000;
}

#footer p a:link {
	font-weight: bold;
	color: #000000;
}

#container {
	width: 750px;
	margin: 0 auto;
}

#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav li {
	float: left;
}

#nav a:link, #nav a:visited {
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 4px 0px;
	color: #fff;
	background-color: #663399;
	display: block;
	width: 120px;
}

#nav a:hover, #nav a:active {
	background-color: #3300ff;
}
